In [1]:
# Dependencies
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# Preprocessing the Patient Data file

In [2]:
# Name of the CSV file
file = '../Resources/2021VAERSDATA.csv'

In [3]:
data_df = pd.read_csv(file, encoding="ISO-8859-1", low_memory=False)

In [4]:
data_df.head()

,VAERS_ID,RECVDATE,STATE,AGE_YRS,CAGE_YR,CAGE_MO,SEX,RPT_DATE,SYMPTOM_TEXT,DIED,...,CUR_ILL,HISTORY,PRIOR_VAX,SPLTTYPE,FORM_VERS,TODAYS_DATE,BIRTH_DEFECT,OFC_VISIT,ER_ED_VISIT,ALLERGIES
0,916600,01/01/2021,TX,33.0,33.0,NaN,F,NaN,Right side of epiglottis swelled up and hinder...,NaN,...,None,None,NaN,NaN,2,01/01/2021,NaN,Y,NaN,Pcn and bee venom
1,916601,01/01/2021,CA,73.0,73.0,NaN,F,NaN,Approximately 30 min post vaccination administ...,NaN,...,Patient residing at nursing facility. See pati...,Patient residing at nursing facility. See pati...,NaN,NaN,2,01/01/2021,NaN,Y,NaN,"""Dairy"""
2,916602,01/01/2021,WA,23.0,23.0,NaN,F,NaN,"About 15 minutes after receiving the vaccine, ...",NaN,...,None,None,NaN,NaN,2,01/01/2021,NaN,NaN,Y,Shellfish
3,916603,01/01/2021,WA,58.0,58.0,NaN,F,NaN,"extreme fatigue, dizziness,. could not lift my...",NaN,...,kidney infection,"diverticulitis, mitral valve prolapse, osteoar...","got measles from measel shot, mums from mumps ...",NaN,2,01/01/2021,NaN,NaN,NaN,"Diclofenac, novacaine, lidocaine, pickles, tom..."
4,916604,01/01/2021,TX,47.0,47.0,NaN,F,NaN,"Injection site swelling, redness, warm to the ...",NaN,...,Na,NaN,NaN,NaN,2,01/01/2021,NaN,NaN,NaN,Na

In [5]:
data_df['STATE'].unique()

array(['TX', 'CA', 'WA', 'NV', 'KS', 'OH', 'TN', 'VA', 'NC', 'NY', 'GA',
       'NJ', 'LA', nan, 'IL', 'MD', 'ME', 'MA', 'MI', 'CT', 'FL', 'OK',
       'AR', 'ID', 'PA', 'IN', 'AZ', 'MN', 'NH', 'MO', 'CO', 'NE', 'UT',
       'DE', 'AL', 'MT', 'RI', 'MS', 'IA', 'AK', 'HI', 'WV', 'WI', 'NM',
       'OR', 'PR', 'KY', 'ND', 'SC', 'VT', 'DC', 'SD', 'WY', 'XB', 'VI',
       'Ca', 'GU', 'AS', 'MP', 'MH', 'FM'], dtype=object)

In [6]:
data_df.columns

Index(['VAERS_ID', 'RECVDATE', 'STATE', 'AGE_YRS', 'CAGE_YR', 'CAGE_MO', 'SEX',
       'RPT_DATE', 'SYMPTOM_TEXT', 'DIED', 'DATEDIED', 'L_THREAT', 'ER_VISIT',
       'HOSPITAL', 'HOSPDAYS', 'X_STAY', 'DISABLE', 'RECOVD', 'VAX_DATE',
       'ONSET_DATE', 'NUMDAYS', 'LAB_DATA', 'V_ADMINBY', 'V_FUNDBY',
       'OTHER_MEDS', 'CUR_ILL', 'HISTORY', 'PRIOR_VAX', 'SPLTTYPE',
       'FORM_VERS', 'TODAYS_DATE', 'BIRTH_DEFECT', 'OFC_VISIT', 'ER_ED_VISIT',
       'ALLERGIES'],
      dtype='object')

In [24]:
patient_data=data_df[['VAERS_ID', 'AGE_YRS', 'SEX', 'DIED', 'L_THREAT', 'OTHER_MEDS', 'CUR_ILL', 'HISTORY', 'PRIOR_VAX', 'ALLERGIES', 'HOSPITAL']]
patient_data.head()

,VAERS_ID,AGE_YRS,SEX,DIED,L_THREAT,OTHER_MEDS,CUR_ILL,HISTORY,PRIOR_VAX,ALLERGIES,HOSPITAL
0,916600,33.0,F,NaN,NaN,None,None,None,NaN,Pcn and bee venom,NaN
1,916601,73.0,F,NaN,NaN,Patient residing at nursing facility. See pati...,Patient residing at nursing facility. See pati...,Patient residing at nursing facility. See pati...,NaN,"""Dairy""",NaN
2,916602,23.0,F,NaN,NaN,None,None,None,NaN,Shellfish,NaN
3,916603,58.0,F,NaN,NaN,none,kidney infection,"diverticulitis, mitral valve prolapse, osteoar...","got measles from measel shot, mums from mumps ...","Diclofenac, novacaine, lidocaine, pickles, tom...",NaN
4,916604,47.0,F,NaN,NaN,Na,Na,NaN,NaN,Na,NaN

In [25]:
patient_data.duplicated(subset='VAERS_ID').sum()

0

In [26]:
patient_data['AGE_YRS'].isnull().sum()

3188

In [27]:
patient_data.dropna(subset = ['AGE_YRS'], inplace=True)

In [28]:
patient_data['SEX'].isnull().sum()

0

In [29]:
patient_data['OTHER_MEDS'] = patient_data['OTHER_MEDS'].replace(to_replace=['None', 'none', 'na', 'NA', 'Na'], value = 0)
patient_data['OTHER_MEDS'] = patient_data['OTHER_MEDS'].fillna(0)
patient_data['OTHER_MEDS'] = patient_data['OTHER_MEDS'].apply(lambda x: 1 if str(type(x))=="<class 'str'>" else x)

In [30]:
patient_data['CUR_ILL'] = patient_data['CUR_ILL'].replace(to_replace=['None', 'none', 'na', 'NA', 'Na'], value = 0)
patient_data['CUR_ILL'] = patient_data['CUR_ILL'].fillna(0)
patient_data['CUR_ILL'] = patient_data['CUR_ILL'].apply(lambda x: 1 if str(type(x))=="<class 'str'>" else x)

In [31]:
patient_data['HISTORY'] = patient_data['HISTORY'].replace(to_replace=['None', 'none', 'na', 'NA', 'Na'], value = 0)
patient_data['HISTORY'] = patient_data['HISTORY'].fillna(0)
patient_data['HISTORY'] = patient_data['HISTORY'].apply(lambda x: 1 if str(type(x))=="<class 'str'>" else x)

In [32]:
patient_data['PRIOR_VAX'] = patient_data['PRIOR_VAX'].replace(to_replace=['None', 'none', 'na', 'NA', 'Na'], value = 0)
patient_data['PRIOR_VAX'] = patient_data['PRIOR_VAX'].fillna(0)
patient_data['PRIOR_VAX'] = patient_data['PRIOR_VAX'].apply(lambda x: 1 if str(type(x))=="<class 'str'>" else x)

In [33]:
patient_data['ALLERGIES'] = patient_data['ALLERGIES'].replace(to_replace=['None', 'none', 'na', 'NA', 'Na'], value = 0)
patient_data['ALLERGIES'] = patient_data['ALLERGIES'].fillna(0)
patient_data['ALLERGIES'] = patient_data['ALLERGIES'].apply(lambda x: 1 if str(type(x))=="<class 'str'>" else x)

In [34]:
patient_data['HOSPITAL'] = patient_data['HOSPITAL'].replace(to_replace=['None', 'none', 'na', 'NA', 'Na'], value = 0)
patient_data['HOSPITAL'] = patient_data['HOSPITAL'].fillna(0)
patient_data['HOSPITAL'] = patient_data['HOSPITAL'].apply(lambda x: 1 if str(type(x))=="<class 'str'>" else x)

In [35]:
patient_data['DIED'] = patient_data['DIED'].replace(to_replace=['None', 'none', 'na', 'NA', 'Na'], value = 0)
patient_data['DIED'] = patient_data['DIED'].fillna(0)
patient_data['DIED'] = patient_data['DIED'].apply(lambda x: 1 if str(type(x))=="<class 'str'>" else x)

In [36]:
patient_data['L_THREAT'] = patient_data['L_THREAT'].replace(to_replace=['None', 'none', 'na', 'NA', 'Na'], value = 0)
patient_data['L_THREAT'] = patient_data['L_THREAT'].fillna(0)
patient_data['L_THREAT'] = patient_data['L_THREAT'].apply(lambda x: 1 if str(type(x))=="<class 'str'>" else x)

In [96]:
patient_data.head(50)

,VAERS_ID,AGE_YRS,SEX,DIED,L_THREAT,OTHER_MEDS,CUR_ILL,HISTORY,PRIOR_VAX,ALLERGIES,HOSPITAL
0,916600,33.00,F,0,0,0,0,0,0,1,0
1,916601,73.00,F,0,0,1,1,1,0,1,0
2,916602,23.00,F,0,0,0,0,0,0,1,0
3,916603,58.00,F,0,0,0,1,1,1,1,0
4,916604,47.00,F,0,0,0,0,0,0,0,0
5,916606,44.00,F,0,0,0,0,0,0,1,0
6,916607,50.00,M,0,0,1,0,1,0,1,0
7,916608,33.00,M,0,0,0,0,0,0,0,0
8,916609,71.00,F,0,0,1,0,1,0,1,0
9,916610,18.00,F,0,0,0,0,0,0,1,0
10,916611,33.00,F,0,0,1,1,1,0,1,0
11,916613,40.00,F,0,0,0,0,0,0,0,0
12,916614,29.00,F,0,0,0,0,0,0,0,0
13,916615,38.00,F,0,0,1,0,1,1,1,0
14,916617,35.00,F,0,0,1,0,1,0,0,0
15,916618,24.00,F,0,0,0,0,0,0,0,0
16,916619,28.00,M,0,0,1,0,0,0,1,0
17,916620,65.00,M,0,0,1,0,1,0,0,0
18,916621,25.00,F,0,0,1,0,1,0,1,0
19,916622,22.00,F,0,0,1,0,1,0,1,0
20,916623,31.00,F,0,0,1,1,1,0,1,0
21,916624,27.00,F,0,0,0,0,0,0,0,0
22,916625,41.00,F,0,0,1,0,1,0,1,0
23,916626,63.00,F,0,0,1,0,0,0,0,0
24,916627,49.00,F,0,0,1,1,1,0,1,0
25,916628,33.00,F,0,0,1,0,0,0,0,0
26,916629,61.00,M,0,0,1,0,1,0,1,0
27,916630,56.00,F,0,0,1,0,0,0,0,0
28,916631,25.00,F,0,0,0,0,0,0,1,0
29,916632,0.08,M,0,1,1,1,0,0,1,1
30,916633,57.00,F,0,0,0,0,0,0,1,0
31,916634,27.00,M,0,0,1,0,0,0,1,0
32,916635,22.00,F,0,0,0,0,1,1,0,0
33,916636,49.00,F,0,0,0,0,0,0,0,0
34,916637,32.00,F,0,0,1,0,0,0,1,0
35,916638,41.00,M,0,0,1,0,1,0,0,0
36,916639,46.00,F,0,0,1,0,0,1,1,0
37,916640,46.00,F,0,0,0,0,0,0,0,0
38,916642,42.00,F,0,0,0,1,0,0,1,0
39,916643,28.00,F,0,0,1,0,1,0,1,0
40,916644,58.00,M,0,0,1,0,1,0,0,0
41,916645,60.00,F,0,0,1,0,0,0,0,0
42,916646,37.00,F,0,0,1,0,1,1,1,0
43,916647,42.00,M,0,0,1,0,1,0,0,0
44,916648,47.00,F,0,0,1,1,1,0,0,0
45,916649,46.00,F,0,0,1,0,1,0,1,0
46,916650,28.00,F,0,0,1,1,1,1,1,0
47,916651,53.00,F,0,0,1,0,1,0,1,0
48,916652,29.00,F,0,0,1,0,0,0,0,0
49,916653,49.00,F,0,0,0,0,1,0,1,0

In [39]:
patient_data = patient_data.loc[patient_data['SEX'] != 'U']

In [40]:
patient_sex = pd.get_dummies(patient_data['SEX'])
patient_sex

       F  M
0      1  0
1      1  0
2      1  0
3      1  0
4      1  0
...   .. ..
34115  0  1
34116  1  0
34117  1  0
34118  1  0
34119  0  1

[30760 rows x 2 columns]

In [41]:
patient_features = pd.merge(
    left=patient_data,
    right=patient_sex,
    left_index=True,
    right_index=True,
)
patient_features.drop(['SEX'], axis = 1, inplace = True)
patient_features

,VAERS_ID,AGE_YRS,DIED,L_THREAT,OTHER_MEDS,CUR_ILL,HISTORY,PRIOR_VAX,ALLERGIES,HOSPITAL,F,M
0,916600,33.0,0,0,0,0,0,0,1,0,1,0
1,916601,73.0,0,0,1,1,1,0,1,0,1,0
2,916602,23.0,0,0,0,0,0,0,1,0,1,0
3,916603,58.0,0,0,0,1,1,1,1,0,1,0
4,916604,47.0,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
34115,1113916,85.0,0,0,0,0,1,0,0,1,0,1
34116,1113917,88.0,0,0,0,0,1,0,0,1,1,0
34117,1113920,83.0,0,0,1,0,1,0,0,0,1,0
34118,1113963,59.0,1,0,0,0,1,0,0,0,1,0
34119,1115045,57.0,1,0,0,0,1,0,0,0,0,1

In [42]:
patient_features.to_csv('../Resources/clean_patient_data.csv', index=False)

# Preprocessing the Symptoms file

In [43]:
# Name of the CSV file
file2 = '../Resources/2021VAERSSYMPTOMS.csv'

In [44]:
# The correct encoding must be used to read the CSV in pandas
symptoms_df = pd.read_csv(file2, encoding="ISO-8859-1", low_memory=False)

In [45]:
symptoms_df

,VAERS_ID,SYMPTOM1,SYMPTOMVERSION1,SYMPTOM2,SYMPTOMVERSION2,SYMPTOM3,SYMPTOMVERSION3,SYMPTOM4,SYMPTOMVERSION4,SYMPTOM5,SYMPTOMVERSION5
0,916600,Dysphagia,23.1,Epiglottitis,23.1,NaN,NaN,NaN,NaN,NaN,NaN
1,916601,Anxiety,23.1,Dyspnoea,23.1,NaN,NaN,NaN,NaN,NaN,NaN
2,916602,Chest discomfort,23.1,Dysphagia,23.1,Pain in extremity,23.1,Visual impairment,23.1,NaN,NaN
3,916603,Dizziness,23.1,Fatigue,23.1,Mobility decreased,23.1,NaN,NaN,NaN,NaN
4,916604,Injection site erythema,23.1,Injection site pruritus,23.1,Injection site swelling,23.1,Injection site warmth,23.1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
48105,1113920,Nasal discomfort,23.1,Night sweats,23.1,Platelet count,23.1,Platelet count decreased,23.1,Pyrexia,23.1
48106,1113920,Rash,23.1,SARS-CoV-2 test,23.1,NaN,NaN,NaN,NaN,NaN,NaN
48107,1113963,Haemophagocytic lymphohistiocytosis,23.1,SARS-CoV-2 test,23.1,NaN,NaN,NaN,NaN,NaN,NaN
48108,1115045,Death,23.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48109,1115348,Death,23.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
symptoms_df.columns

Index(['VAERS_ID', 'SYMPTOM1', 'SYMPTOMVERSION1', 'SYMPTOM2',
       'SYMPTOMVERSION2', 'SYMPTOM3', 'SYMPTOMVERSION3', 'SYMPTOM4',
       'SYMPTOMVERSION4', 'SYMPTOM5', 'SYMPTOMVERSION5'],
      dtype='object')

In [47]:
symptoms_df=symptoms_df[['VAERS_ID', 'SYMPTOM1', 'SYMPTOM2', 'SYMPTOM3', 'SYMPTOM4', 'SYMPTOM5']]
symptoms_df

,VAERS_ID,SYMPTOM1,SYMPTOM2,SYMPTOM3,SYMPTOM4,SYMPTOM5
0,916600,Dysphagia,Epiglottitis,NaN,NaN,NaN
1,916601,Anxiety,Dyspnoea,NaN,NaN,NaN
2,916602,Chest discomfort,Dysphagia,Pain in extremity,Visual impairment,NaN
3,916603,Dizziness,Fatigue,Mobility decreased,NaN,NaN
4,916604,Injection site erythema,Injection site pruritus,Injection site swelling,Injection site warmth,NaN
...,...,...,...,...,...,...
48105,1113920,Nasal discomfort,Night sweats,Platelet count,Platelet count decreased,Pyrexia
48106,1113920,Rash,SARS-CoV-2 test,NaN,NaN,NaN
48107,1113963,Haemophagocytic lymphohistiocytosis,SARS-CoV-2 test,NaN,NaN,NaN
48108,1115045,Death,NaN,NaN,NaN,NaN
48109,1115348,Death,NaN,NaN,NaN,NaN

In [48]:
symptom1_df = symptoms_df[['VAERS_ID', 'SYMPTOM1']]
symptom1_df = symptom1_df.rename(columns = {'SYMPTOM1': 'SYMPTOM'})
symptom2_df = symptoms_df[['VAERS_ID', 'SYMPTOM2']]
symptom2_df = symptom1_df.rename(columns = {'SYMPTOM2': 'SYMPTOM'})
symptom3_df = symptoms_df[['VAERS_ID', 'SYMPTOM3']]
symptom3_df = symptom1_df.rename(columns = {'SYMPTOM3': 'SYMPTOM'})
symptom4_df = symptoms_df[['VAERS_ID', 'SYMPTOM4']]
symptom4_df = symptom1_df.rename(columns = {'SYMPTOM4': 'SYMPTOM'})
symptom5_df = symptoms_df[['VAERS_ID', 'SYMPTOM5']]
symptom5_df = symptom1_df.rename(columns = {'SYMPTOM5': 'SYMPTOM'})

In [49]:
all_symptoms = symptom1_df.append(symptom2_df).reset_index(drop=True)
all_symptoms = all_symptoms.append(symptom3_df).reset_index(drop = True)
all_symptoms = all_symptoms.append(symptom4_df).reset_index(drop = True)
all_symptoms = all_symptoms.append(symptom5_df).reset_index(drop = True)
all_symptoms.head(50)

    VAERS_ID                     SYMPTOM
0     916600                   Dysphagia
1     916601                     Anxiety
2     916602            Chest discomfort
3     916603                   Dizziness
4     916604     Injection site erythema
5     916606         Pharyngeal swelling
6     916607              Abdominal pain
7     916608                   Diarrhoea
8     916609   Vaccination site erythema
9     916610                        Rash
10    916611    Blood pressure decreased
11    916611                    Dyspnoea
12    916611        Heart rate decreased
13    916611                      Nausea
14    916611    SARS-CoV-2 antibody test
15    916613        Abdominal pain upper
16    916614    Blood pressure increased
17    916615     Injection site erythema
18    916617                      Chills
19    916618         Injection site pain
20    916619         Injection site pain
21    916620                  Arthralgia
22    916620                      Nausea
23    916621                      Chills
24    916622                    Headache
25    916622                      Nausea
26    916623         Injection site pain
27    916624   Injection site induration
28    916625                      Chills
29    916625                      Tremor
30    916626                    Erythema
31    916627     Injection site erythema
32    916628                       Cough
33    916629                    Asthenia
34    916630     Injection site erythema
35    916631                      Chills
36    916631           Pain in extremity
37    916632        Abdominal pain upper
38    916632   Consciousness fluctuating
39    916632                   Hypotonia
40    916632                    Vomiting
41    916633                    Headache
42    916634                   Back pain
43    916635     Injection site swelling
44    916636                      Chills
45    916636                   Hot flush
46    916637  Body temperature increased
47    916638               Hypoaesthesia
48    916639                    Flushing
49    916640                  Arthralgia

In [50]:
all_symptoms.count()

VAERS_ID    240550
SYMPTOM     240550
dtype: int64

In [51]:
all_symptoms['SYMPTOM'].nunique()

2431

In [52]:
all_symptoms.groupby(all_symptoms['SYMPTOM']).count().sort_values('VAERS_ID', ascending=False).head(70)

                         VAERS_ID
SYMPTOM
Chills                      16170
Arthralgia                   9690
Headache                     7410
Dizziness                    7225
Injection site erythema      7060
...                           ...
Cellulitis                    615
Aphasia                       605
Peripheral swelling           605
Injection site warmth         595
Decreased appetite            580

[70 rows x 1 columns]

# Preprocessing the Vaccine file

In [53]:
# Name of the CSV file
vaccinefile = '../Resources/2021VAERSVAX.csv'

In [54]:
# The correct encoding must be used to read the CSV in pandas
vaccine = pd.read_csv(vaccinefile, encoding="ISO-8859-1", low_memory=False)

In [55]:
vaccine.columns

Index(['VAERS_ID', 'VAX_TYPE', 'VAX_MANU', 'VAX_LOT', 'VAX_DOSE_SERIES',
       'VAX_ROUTE', 'VAX_SITE', 'VAX_NAME'],
      dtype='object')

In [56]:
vaccine_df = vaccine[['VAERS_ID', 'VAX_NAME', 'VAX_DOSE_SERIES', 'VAX_SITE']]
vaccine_df.head()

   VAERS_ID                             VAX_NAME VAX_DOSE_SERIES VAX_SITE
0    916600          COVID19 (COVID19 (MODERNA))               1       LA
1    916601          COVID19 (COVID19 (MODERNA))               1       RA
2    916602  COVID19 (COVID19 (PFIZER-BIONTECH))               1       LA
3    916603          COVID19 (COVID19 (MODERNA))             UNK      NaN
4    916604          COVID19 (COVID19 (MODERNA))               1       LA

In [57]:
vaccine_df['VAX_NAME'].unique()

array(['COVID19 (COVID19 (MODERNA))',
       'COVID19 (COVID19 (PFIZER-BIONTECH))',
       'VACCINE NOT SPECIFIED (NO BRAND NAME)',
       'INFLUENZA (SEASONAL) (FLUZONE HIGH-DOSE QUADRIVALENT)',
       'DTAP + HEPB + IPV (PEDIARIX)', 'HIB (ACTHIB)',
       'ROTAVIRUS (ROTARIX)', 'VACCINE NOT SPECIFIED (OTHER)',
       'INFLUENZA (SEASONAL) (AFLURIA QUADRIVALENT)',
       'INFLUENZA (SEASONAL) (NO BRAND NAME)', 'HEP B (NO BRAND NAME)',
       'MEASLES + MUMPS + RUBELLA (MMR II)', 'ZOSTER (SHINGRIX)',
       'DTAP (NO BRAND NAME)', 'ZOSTER (NO BRAND NAME)',
       'PNEUMO (PNEUMOVAX)', 'HPV (GARDASIL 9)', 'ZOSTER LIVE (ZOSTAVAX)',
       'CHOLERA (NO BRAND NAME)', 'DT ADSORBED (NO BRAND NAME)',
       'TETANUS TOXOID (NO BRAND NAME)', 'INFLUENZA (SEASONAL) (FLUZONE)',
       'INFLUENZA (SEASONAL) (FLUCELVAX)',
       'INFLUENZA (SEASONAL) (FLUCELVAX QUADRIVALENT)',
       'HEP B (ENGERIX-B)', 'INFLUENZA (SEASONAL) (FLUZONE QUADRIVALENT)',
       'PNEUMO (PREVNAR13)',
       'INFLUENZA (SEASONAL) (FLUBLOK QUADRIVALENT)',
       'MENINGOCOCCAL CONJUGATE (MENVEO)',
       'MENINGOCOCCAL CONJUGATE (MENACTRA)', 'HPV (GARDASIL)',
       'TDAP (NO BRAND NAME)', 'INFLUENZA (SEASONAL) (FLUAD)',
       'TDAP (ADACEL)', 'HEP A (VAQTA)', 'VARICELLA (VARIVAX)',
       'DTAP (DAPTACEL)', 'INFLUENZA (SEASONAL) (FLUAD QUADRIVALENT)',
       'HEP B (RECOMBIVAX HB)',
       'INFLUENZA (SEASONAL) (FLUARIX QUADRIVALENT)',
       'PNEUMO (NO BRAND NAME)', 'COVID19 (COVID19 (UNKNOWN))',
       'ANTHRAX (BIOTHRAX)', 'POLIO VIRUS, INACT. (IPOL)',
       'TYPHOID VI POLYSACCHARIDE (TYPHIM VI)', 'HEP A (HAVRIX)',
       'HPV (NO BRAND NAME)',
       'INFLUENZA (SEASONAL) (FLULAVAL QUADRIVALENT)',
       'DTP (NO BRAND NAME)', 'INFLUENZA (SEASONAL) (FLUZONE HIGH-DOSE)',
       'DTAP + IPV + HIB (PENTACEL)', 'ROTAVIRUS (ROTATEQ)',
       'MENINGOCOCCAL B (TRUMENBA)', 'HEP B (HEPLISAV-B)',
       'TDAP (BOOSTRIX)', 'DTAP (INFANRIX)', 'HIB (PEDVAXHIB)',
       'RABIES (RABAVERT)', 'MENINGOCOCCAL B (BEXSERO)',
       'INFLUENZA (SEASONAL) (FLUMIST QUADRIVALENT)', 'PNEUMO (PREVNAR)',
       'TYPHOID LIVE ORAL TY21A (VIVOTIF)', 'COVID19 (COVID19 (JANSSEN))',
       'POLIO VIRUS, ORAL (NO BRAND NAME)', 'YELLOW FEVER (YF-VAX)'],
      dtype=object)

In [58]:
covid_vaccines = ['COVID19 (COVID19 (MODERNA))', 'COVID19 (COVID19 (PFIZER-BIONTECH))', 'COVID19 (COVID19 (JANSSEN))'] 
    
# selecting rows based on conditions
covid_vaccine_df= vaccine_df[vaccine_df['VAX_NAME'].isin(covid_vaccines)]

In [59]:
covid_vaccine_df['VAX_NAME'].unique()

array(['COVID19 (COVID19 (MODERNA))',
       'COVID19 (COVID19 (PFIZER-BIONTECH))',
       'COVID19 (COVID19 (JANSSEN))'], dtype=object)

In [60]:
covid_vaccine_df.head(20)

    VAERS_ID                             VAX_NAME VAX_DOSE_SERIES VAX_SITE
0     916600          COVID19 (COVID19 (MODERNA))               1       LA
1     916601          COVID19 (COVID19 (MODERNA))               1       RA
2     916602  COVID19 (COVID19 (PFIZER-BIONTECH))               1       LA
3     916603          COVID19 (COVID19 (MODERNA))             UNK      NaN
4     916604          COVID19 (COVID19 (MODERNA))               1       LA
5     916606          COVID19 (COVID19 (MODERNA))               1       LA
6     916607          COVID19 (COVID19 (MODERNA))             UNK       LA
7     916608          COVID19 (COVID19 (MODERNA))               1       LA
8     916609          COVID19 (COVID19 (MODERNA))               1       LA
9     916610          COVID19 (COVID19 (MODERNA))               1       LA
10    916611          COVID19 (COVID19 (MODERNA))               1       RA
11    916613          COVID19 (COVID19 (MODERNA))               1       LA
12    916614          COVID19 (COVID19 (MODERNA))               1       LA
13    916615          COVID19 (COVID19 (MODERNA))               1       LA
14    916617  COVID19 (COVID19 (PFIZER-BIONTECH))               1       LA
15    916618          COVID19 (COVID19 (MODERNA))               1       LA
16    916619  COVID19 (COVID19 (PFIZER-BIONTECH))               1       LA
17    916620          COVID19 (COVID19 (MODERNA))               1       LA
18    916621          COVID19 (COVID19 (MODERNA))               1       LA
19    916622          COVID19 (COVID19 (MODERNA))               1       LA

In [83]:
covid_vaccine_df['VAX_SITE'].isnull().sum()

0

In [84]:
covid_vaccine_df.dropna(subset = ['VAX_SITE'], inplace=True)

In [85]:
covid_vaccine_df['VAX_DOSE_SERIES'].isnull().sum()

0

In [86]:
covid_vaccine_df['VAX_DOSE_SERIES'].unique()

array(['1', '2'], dtype=object)

In [87]:
covid_vaccine_df.groupby('VAX_DOSE_SERIES').count()

                 VAERS_ID  VAX_NAME  VAX_SITE
VAX_DOSE_SERIES
1                   19157     19157     19157
2                    5202      5202      5202

In [88]:
# selecting rows based on conditions
covid_vaccine_df=covid_vaccine_df[covid_vaccine_df['VAX_DOSE_SERIES'].isin(['1','2'])] 
covid_vaccine_df.head()

   VAERS_ID                             VAX_NAME VAX_DOSE_SERIES VAX_SITE
0    916600          COVID19 (COVID19 (MODERNA))               1       LA
1    916601          COVID19 (COVID19 (MODERNA))               1       RA
2    916602  COVID19 (COVID19 (PFIZER-BIONTECH))               1       LA
4    916604          COVID19 (COVID19 (MODERNA))               1       LA
5    916606          COVID19 (COVID19 (MODERNA))               1       LA

In [89]:
covid_vaccine_df.groupby('VAX_SITE').count()

          VAERS_ID  VAX_NAME  VAX_DOSE_SERIES
VAX_SITE
AR             573       573              573
GM               3         3                3
LA           16752     16752            16752
LG               2         2                2
LL              16        16               16
OT              13        13               13
RA            6510      6510             6510
RL               6         6                6
UN             484       484              484

In [90]:
# selecting rows based on conditions
final_covid_vaccine_df=covid_vaccine_df[covid_vaccine_df['VAX_SITE'].isin(['LA','RA'])] 
final_covid_vaccine_df.head()

   VAERS_ID                             VAX_NAME VAX_DOSE_SERIES VAX_SITE
0    916600          COVID19 (COVID19 (MODERNA))               1       LA
1    916601          COVID19 (COVID19 (MODERNA))               1       RA
2    916602  COVID19 (COVID19 (PFIZER-BIONTECH))               1       LA
4    916604          COVID19 (COVID19 (MODERNA))               1       LA
5    916606          COVID19 (COVID19 (MODERNA))               1       LA

In [92]:
vaccine_data = pd.get_dummies(final_covid_vaccine_df)
vaccine_data

,VAERS_ID,VAX_NAME_COVID19 (COVID19 (JANSSEN)),VAX_NAME_COVID19 (COVID19 (MODERNA)),VAX_NAME_COVID19 (COVID19 (PFIZER-BIONTECH)),VAX_DOSE_SERIES_1,VAX_DOSE_SERIES_2,VAX_SITE_LA,VAX_SITE_RA
0,916600,0,1,0,1,0,1,0
1,916601,0,1,0,1,0,0,1
2,916602,0,0,1,1,0,1,0
4,916604,0,1,0,1,0,1,0
5,916606,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...
34619,1112743,0,1,0,0,1,1,0
34620,1112773,0,1,0,1,0,1,0
34621,1112825,0,1,0,1,0,1,0
34622,1113563,0,1,0,0,1,1,0
34629,1115348,0,1,0,1,0,1,0

In [93]:
vaccine_data.rename(columns = {'VAX_NAME_COVID19 (COVID19 (JANSSEN))':'JANSSEN', 'VAX_NAME_COVID19 (COVID19 (MODERNA))':'MODERNA', 'VAX_NAME_COVID19 (COVID19 (PFIZER-BIONTECH))': 'PFIZER'}, inplace = True)

In [94]:
vaccine_data

,VAERS_ID,JANSSEN,MODERNA,PFIZER,VAX_DOSE_SERIES_1,VAX_DOSE_SERIES_2,VAX_SITE_LA,VAX_SITE_RA
0,916600,0,1,0,1,0,1,0
1,916601,0,1,0,1,0,0,1
2,916602,0,0,1,1,0,1,0
4,916604,0,1,0,1,0,1,0
5,916606,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...
34619,1112743,0,1,0,0,1,1,0
34620,1112773,0,1,0,1,0,1,0
34621,1112825,0,1,0,1,0,1,0
34622,1113563,0,1,0,0,1,1,0
34629,1115348,0,1,0,1,0,1,0

In [95]:
vaccine_data.to_csv('../Resources/clean_vaccine_data.csv', index=False)

# Merging the files together

In [74]:
merged_df = all_symptoms.merge(patient_features, how = 'left')
merged_df

,VAERS_ID,SYMPTOM,AGE_YRS,DIED,L_THREAT,OTHER_MEDS,CUR_ILL,HISTORY,PRIOR_VAX,ALLERGIES,HOSPITAL,F,M
0,916600,Dysphagia,33.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,916601,Anxiety,73.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0
2,916602,Chest discomfort,23.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,916603,Dizziness,58.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0
4,916604,Injection site erythema,47.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
240545,1113920,Nasal discomfort,83.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
240546,1113920,Rash,83.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
240547,1113963,Haemophagocytic lymphohistiocytosis,59.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
240548,1115045,Death,57.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
240549,1115348,Death,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
merged_df2 = merged_df.merge(vaccine_data, how = 'left')

In [76]:
merged_df2.dropna(axis=0, how = 'any', inplace = True)
merged_df2

,VAERS_ID,SYMPTOM,AGE_YRS,DIED,L_THREAT,OTHER_MEDS,CUR_ILL,HISTORY,PRIOR_VAX,ALLERGIES,HOSPITAL,F,M,JANSSEN,MODERNA,PFIZER,VAX_DOSE_SERIES_1,VAX_DOSE_SERIES_2,VAX_SITE_LA,VAX_SITE_RA
0,916600,Dysphagia,33.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,916601,Anxiety,73.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
2,916602,Chest discomfort,23.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
4,916604,Injection site erythema,47.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
5,916606,Pharyngeal swelling,44.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243066,1112773,Death,56.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
243070,1113563,Aphonia,70.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
243071,1113563,Dyspnoea,70.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
243072,1113563,Pain in extremity,70.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
243073,1113563,Tremor,70.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0

In [77]:
ages = merged_df2.groupby("AGE_YRS").count()
ages

,VAERS_ID,SYMPTOM,DIED,L_THREAT,OTHER_MEDS,CUR_ILL,HISTORY,PRIOR_VAX,ALLERGIES,HOSPITAL,F,M,JANSSEN,MODERNA,PFIZER,VAX_DOSE_SERIES_1,VAX_DOSE_SERIES_2,VAX_SITE_LA,VAX_SITE_RA
AGE_YRS,,,,,,,,,,,,,,,,,,,
0.25,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
0.33,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
0.42,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
0.50,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
0.58,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101.00,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50
102.00,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35
103.00,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15
105.00,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
106.00,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5

In [78]:
age_too_young = merged_df2[(merged_df2['AGE_YRS']<18)].index

In [79]:
merged_df2.drop(age_too_young,inplace=True)

In [99]:
merged_df2

,VAERS_ID,SYMPTOM,AGE_YRS,DIED,L_THREAT,OTHER_MEDS,CUR_ILL,HISTORY,PRIOR_VAX,ALLERGIES,...,F,M,JANSSEN,MODERNA,PFIZER,VAX_DOSE_SERIES_1,VAX_DOSE_SERIES_2,VAX_SITE_LA,VAX_SITE_RA,AGE_GROUP
0,916600,Dysphagia,33.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,26-35
1,916601,Anxiety,73.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,66-75
2,916602,Chest discomfort,23.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,18-25
4,916604,Injection site erythema,47.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,46-55
5,916606,Pharyngeal swelling,44.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,36-45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243066,1112773,Death,56.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,56-65
243070,1113563,Aphonia,70.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,66-75
243071,1113563,Dyspnoea,70.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,66-75
243072,1113563,Pain in extremity,70.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,66-75
243073,1113563,Tremor,70.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,66-75

In [80]:
# Create bins to place age values
bins = [0,25,35,45,55,65,75,85,95,110]
group_labels = ['18-25', '26-35', '36-45', '46-55', '56-65', '66-75', '76-85', '86-95', '96 +']

pd.cut(merged_df2["AGE_YRS"], bins, labels = group_labels)

0         26-35
1         66-75
2         18-25
4         46-55
5         36-45
          ...
243066    56-65
243070    66-75
243071    66-75
243072    66-75
243073    66-75
Name: AGE_YRS, Length: 163740, dtype: category
Categories (9, object): [18-25 < 26-35 < 36-45 < 46-55 ... 66-75 < 76-85 < 86-95 < 96 +]

In [101]:
# Place into a new column
merged_df2["AGE_GROUP"] = pd.cut(merged_df2["AGE_YRS"], bins, labels=group_labels)
merged_df2

,VAERS_ID,SYMPTOM,AGE_YRS,DIED,L_THREAT,OTHER_MEDS,CUR_ILL,HISTORY,PRIOR_VAX,ALLERGIES,...,F,M,JANSSEN,MODERNA,PFIZER,VAX_DOSE_SERIES_1,VAX_DOSE_SERIES_2,VAX_SITE_LA,VAX_SITE_RA,AGE_GROUP
0,916600,Dysphagia,33.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,26-35
1,916601,Anxiety,73.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,66-75
2,916602,Chest discomfort,23.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,18-25
4,916604,Injection site erythema,47.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,46-55
5,916606,Pharyngeal swelling,44.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,36-45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243066,1112773,Death,56.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,56-65
243070,1113563,Aphonia,70.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,66-75
243071,1113563,Dyspnoea,70.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,66-75
243072,1113563,Pain in extremity,70.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,66-75
243073,1113563,Tremor,70.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,66-75

In [102]:
merged_df2.to_csv('../Resources/preprocessed_step1.csv', index=False)